h1{
      font-family: "Trebuchet MS", Verdana, sans-serif;
      color: black;
      text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
      text-align: left;
      font-size: 1vw 1vh;
      margin-left: 3vw;
    }
h2{
      font-family: "Trebuchet MS", Verdana, sans-serif;
}
header{
      fill:#32a89b;
      border-style: bottom;
      border-style: solid;
}
#crosshair{
      margin-left: 10px;
}

